:root{
    --green-nerea: #04706E;
    --light-green-nerea: #E1FFBD;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-John-mayer: 'John Mayer';

    }

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
    
html{
    font-size: 62.5%;
    font-family: var(--font-Montserrat);
    background-color: #FAFAFA;
    color: var(--green-nerea);
}
/* Icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.recipe-card-container {
      width: 100%;
      min-width: 320px;
      height: auto;
      margin-top: 32px;
      padding-left: 11px;
      padding-right: 12px;
}
.recipe-card-container h1{
    font-family: 'John Mayer';
    width: 100%;
    height: auto;
    font-size: 3rem;
    font-weight: bold;

}
.recipe-body-container {
    display: flex;
    width: 100%;
    max-width: 520px;
    height: auto;
    margin-top: 12px;

}
.quote {
    width: 24px;
    height: 19px;
    color: var(--green-nerea);
    transform: rotate(90deg);
}
.recipe-body-container p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5rem;
    font-style: italic;
    padding-right: 12px;
}
.recipe-img{
    margin-top: 12px;
    width: 100%;
    min-width: 297px;
    max-width: 900px;
    height: 200px;
    background-image: url('./assets/croissant.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

/* INFO CONTAINER */
.recipe-info-container{
    display: flex;  
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 12px;
}
.servings-time{
    display: flex;
    justify-content: space-between;
}
.servings{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;  
}
.servings-text-container{
    padding-left: 5px;
    margin-bottom: 20px;
}
.servings--title{
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1rem;
}
.servings--body{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
}
.orange-body {
   color: #dd7214; 
}
/* CARD IMG */
.servings .fork{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/fork.png);
}
.servings .clock{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/clock.png);
}

/* INGREDIENTS CONTAINER */
.ingredients-card-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding-left: 11px;
    padding-right: 12px; 
}
.ingredients-title {
    font-family: var(--font-John-mayer);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0em;     
}
.ingredients-second-title{
    margin: 13px 0 24px 0;
    font-family: var(--font-John-mayer);
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2.1rem;
}
.ingredients-card-container label{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
}

/* INSTRUCTIONS CONTAINER */

.instructions-card-container{
    width: 100%;
    min-width: 320px;
    max-width: 530px;
    height: auto;
    margin-top: 32px;
    padding-left: 11px;
    padding-right: 12px; 
}
.instructions-title{
    font-family: var(--font-John-mayer);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 24px; 
}
.instructions-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: var(--light-green-nerea);
    color: var(--green-nerea);
    border-radius: 6px;
    font-family: var(--font-John-mayer);
    font-size: 2rem;
}
.step-detail{
    width: 100%;
    height: auto;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.source {
    margin: 12px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8rem;  
    color: #BDBDBD;
}
.source a{
    text-decoration: none;
    color: #BDBDBD;
}
footer{
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 24px;
}
.footer-text-container{
    width: 100%;
    max-width: 287px;
    height: auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.7rem;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-footer);

}
.footer-text-container a{
    color: var(--text-footer);
    font-weight: bold;
    text-decoration: none;
}